@font-face {
  font-family: UglyByte;
  src: url("assets/fonts/BebasNeue-Regular.ttf") format("opentype");
}@font-face {
  font-family: PressStart;
  src: url("assets/fonts/press-start/PressStart2P-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Saira;
  src: url("assets/fonts/saira/Saira/Saira-Regular.ttf") format("opentype");
}
:root {
  font-family: UglyByte, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html{
  background-color: #000000;
  background-image: 
      radial-gradient(at 47% 33%, hsl(354.69, 76%, 28.999999999999996%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(0.00, 100%, 7.000000000000001%) 0, transparent 55%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 220px;
  color-scheme: dark;
  background-color:rgba(18, 18, 18, 0.87)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 1em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
